/* index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dee5ecb6;
}

.navbar-brand {
  font-size: 24px; /* 1.5rem to px */
  font-weight: bold;
}

.ml-auto{
   margin-left: 625px;
}

#caqil{
  position: relative;
}

.page-header h1 {
  margin: 0;
}

.page-content {
  margin-top: -100px;
  padding: 140px; /* 2rem to px */
}

.card {
  margin-bottom: 32px; /* 2rem to px */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 16px 0; /* 1rem to px */
  text-align: center;
}

.ad-banner {
  margin-top: 16px; /* 1rem to px */
}
